@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: #00394B;
}

a:hover {
  color: #00C2FF;
}

/* Estilos para el encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 75px;
}

nav a {
  font-weight: 600;
  padding: 0.5rem 1rem;
}

/* Estilos para el cuerpo principal */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #E1F8FF;
}

.top-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.body-left-side {
  color: #023849;
  margin-right: 20px;
  flex: 1;
}

.body-right-side {
  flex: 1;
}

.body-right-side img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 30px;
  font-family: "Inter", sans-serif;
  color: #00394B;
  font-size: 3.5rem;
}

.first-photo img {
  padding: 10px;
  display: block;
  margin: 0px auto;
  width: 241px;
  height: 359px;
  opacity: 0.95;
}

.main-body {
  font-size: 1rem;
  text-align: center;
  margin: 0 150px;
  font-family: "Inter", sans-serif;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  margin: 50px 0;
}

h4 {
  font-family: "Inter", sans-serif;
  color: #00394B;
  font-size: 1.5rem;
  margin: 50px 0;
}

/* Estilos para los contenedores de sección */
.section-container {
  margin-bottom: 30px;
}

.section {
  border-radius: 5px;
  padding: 20px;
}

/*Barcelona */
.barcelona .section {
  border: 10px solid #00235D;
  background-color: #A50044;
  color: #FFFFFF;
}

/*Paris Saint-Germain */
.psg .section {
  border: 10px solid #A50044;
  background-color: #00235D;
  color: #FFFFFF;
}

/*Selección Argentina */
.argentina .section {
  border: 10px solid #111111;
  background-color: #75AADB;
  color: #FFFFFF;
}

/*Logros Individuales */
.individual-achievements .section {
  border: 10px solid #00394B;
  background-color: #E1F8FF;
  color: #00394B;
}

/*Momentos Destacados */
.highlighted-moments .section {
  border: 10px solid #00394B;
  background-color: #E1F8FF;
  color: #00394B;
}

/*Datos estadisticos adidcionales */
.additional-data .section {
  border: 10px solid #00394B;
  background-color: #E1F8FF;
  color: #00394B;
}

/* Slider */
.container {
  margin: auto;
  background-color: #E1F8FF;
  width: 600px;
  padding: 30px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 600px;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .2s;
  background: #fff;
}

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: burlywood;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

#slide1,
#slide2,
#slide3 {
  scroll-margin-top: 150px;
}

/* Slider */





