@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #00394B;
}

header {
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
    padding: 0.5rem 1rem;
}

nav a:hover {
    color: #00C2FF;
}

.name-color{
    color: #00C2FF;
}

body {
    background-color: #E1F8FF;
}

.main-body {
    display: flex;
    flex-direction: row;
    height: 70%;
    padding-right: 70px;
    padding-left: 220px;
    padding-top: 80px !important; 
}

.body-left-side {
    font-size: 2.5rem;
    font-family: 'Alfa Slab One', cursive;
    color: #023849;
    width: 50%;
}

.body-slogan {
    font-family: "Inter", sans-serif;
    margin-top: 1%;
    font-size: 1.2rem;
}

.body-right-side {
    width: 50%;
}

.messi1 {
    top: 65px;
    width: 65%;
    border-radius: 25px;
    height: 320px;
    object-fit: cover;
}

/*Stats*/

.stats-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: #022A36;
    margin-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.imagen-stats-goals,
.imagen-stats-matches,
.imagen-stats-assists,
.imagen-stats-titles {
    display: inline-flex;
    width: 300px;
    height: 350px;
    background-size: cover;
    margin-left: 40px;
    border-radius: 15px;
    justify-content: space-evenly;
    margin: 0px auto;
}

.info {
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.726);
    transition: .7s ease-in-out all;
    opacity: 1;
    border-radius: 15px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    backdrop-filter: blur(8px);
    font-family: 'Bebas Neue', cursive;
}

.imagen-stats-goals:hover .info,
.imagen-stats-assists:hover .info,
.imagen-stats-matches:hover .info,
.imagen-stats-titles:hover .info {
    opacity: 0;
}

.headline {
    position: absolute;
    font-size: 45px;
    color: white;
}

.info p {
    text-align: center;
}

/*Stats*/


.goals {
    position: relative;
    overflow: hidden;
    margin: 0;
    border: 0px;
    padding: 0;
}


.amount-goals {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-align: center;
    color: black;

}

.amount {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    border: inset 6px white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 68, 255, 0.144);
    
}




.title-goals {
    font-size: 5.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #022A36;
    margin-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.video-goals {
    margin-top: -80px;
}

footer {
    background-color: white;
}

.main-footer {
    display: flex;
    flex-direction: row;
    height: 70%;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-right-side {
    width: 50%;
    justify-content: flex-end;
    padding-top: 60px;
    padding-left: 40%;

}

.footer-left-side {
    width: 50%;
    justify-content: flex-start;
    padding-left: 5%;
    font-size: 1.5rem;
}

.register {
    font-size: 0.9rem;
}

.social-media {
    top: 40%;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer a:hover {
    color: #00C2FF;
}



@media only screen and (max-width: 700px) {

    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .main-body {
        display: block;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .body-right-side {
        width: 100%;
    }

    .body-left-side {
        width: 100%;
    }

    .messi1 {
        width: 52%;
    }

    .amount-goals {
        font-size: 1.5rem;
    }

    .title-goals {
        font-size: 3.5rem;
    }

    .messi-stats {
        margin-top: 30px;
        width: 95%;
        border-radius: 0px;
    }

    iframe {
        width: 100%;
        height: 270px;
    }

    .footer-left-side {
        width: 50%;
    }

    .footer-right-side {
        padding-left: 20%;
    }
}